<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "cn.joey.mapper.RiskExpressionRefMapper">
    <select id="findAll" resultMap="getRef" useCache="false">
        select * from riskexpressionref where calcode=#{id}
    </select>
    <resultMap id="getRef" type="cn.joey.entity.RiskExpressionRef" >
        <result column="riskcode" property="riskCode" typeHandler="cn.joey.typeHandler.MyTypeHandler"/>
        <result column="acctype" property="accType"/>
        <result column="calcode" property="calCode" typeHandler="cn.joey.typeHandler.MyTypeHandler"/>
        <result column="state" property="state"/>
    </resultMap>
</mapper>