<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joey.mybatis.mapper.RiskExpressionRefMapper">
    <insert id="insert" parameterType="cn.joey.mybatis.entity.RiskExpressionRef">
        insert into `riskexpressionref`(`riskcode`,`acctype`,`calcode`,`state`,`makedate`,`maketime`,`modifydate`,`modifytime`)
        values (#{riskCode},#{accType},#{calCode},#{state},#{makeDate},#{makeTime},#{modifyDate},#{modifyTime})
    </insert>
</mapper>