<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-learn:war exploded">
    <output-path>$PROJECT_DIR$/spring-mvc-learn/webapps/out/</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-learn/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-learn" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.7.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>